body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9; /* Helle Hintergrundfarbe */
  color: #333; /* Dunkle Textfarbe */
  margin: 20px;
}

h1 {
  color: #32906D; /* Blaue Überschrift */
  border-bottom: 2px solid #32906D;
  padding-bottom: 10px;
  content:align-center;
  
}
p{
  content:align-center;
  padding-top: 20px;
}
