/* Grundlayout */

/* Background-Color: #6b8f71
    Second-Color: #dde8e1
    Font/Border-Color: #464f51*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


/* Seite soll volle Höhe haben */
html,
body {
  height: 100%;
}
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  background: #6b8f71;
    color: #e5e7eb;
    line-height: 1.6;
/* Für Footer unten */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Hauptinhalt füllt den Platz zwischen Header und Footer */
main {
  flex: 1;
}



/* Navbar */

header {
  background: #6b8f71;
    border-bottom: 2px solid #6b8f71;
}
  
.navbar {
    max-width: 1000px;
    margin: 0 auto;
    padding: 1rem 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
  
.logo {
    font-weight: 700;
    font-size: 2rem;
    text-decoration: none;
    color: #e5e7eb;
}
  
.nav-links {
    list-style: none;
    display: flex;
    gap: 0.5rem;
    }
  
.nav-links a {
    text-decoration: none;
  background: #6b8f71;
    color: #464f51;
    font-size: 0.9rem;
    padding: 0.4rem 0.7rem;
    border-radius: 999px;
  border: 1px solid #464f51;
    transition: background 0.3s ease, color 0.3s ease;
}
  
.nav-links a:hover {
    background: #DDE8E1;
      color: #464f51;
}
  
.nav-links a.active {
    background: #DDE8E1;
      color: #464f51;
}
  


/* Hero-Pad (Startseite) */
.pad {
    display: flex;
      justify-content: center;
      padding: 3rem 1.5rem;
      position: sticky;
    }
.box {
   display: flex;
    gap: rem;
      width: 60%;
      max-width: 1100px;
    background: radial-gradient(circle at top left, #DDE8E1, #6b8f71);
      border-radius: 1.5rem;
      padding: 3rem;
      box-shadow: 10px 15px 20px rgba(0, 0, 0, 0.5);
      align-items: center;
}

.pad-text {
  flex: 1;
  align-items: center;
    display: flex;
    flex-direction: column;
}
            
.pad h1 {
  font-size: 2.2rem;
  margin-bottom: 1rem;
  color: #464f51;
}

            
.pad p {
margin: 1rem;
  color: #464f51;
}


.meinbild {
  width: 200px;
  max-width: 320vw;
  border-radius: 0.9rem;
  box-shadow: 10px 15px 20px rgba(0, 0, 0, 0.5);
  object-fit: cover;
}



  


/* Button-Style*/
.btn {
      margin: 1.5rem;
      padding: 0.5rem 1rem;
    border: 1px solid #464f51;
    background: #6b8f71;
      color: #464f51;
      border-radius: 999px;
    text-decoration: none;
    font-weight: 600;
    font-size: 0.9rem;
  transition: transform 0.5s ease, box-shadow 0.5s ease, background 0.8s ease;
  }
.btn:hover {
  background: #abc4a1;
  box-shadow: 0 5px 10px rgba(70, 79, 81, 1);
    transform: translateY(-5px);
}


/* Primary-Button*/
.btn-pad {
  padding: 0.7rem 1.5rem;
  margin: 1.5rem;
  background: #6b8f71;
  color: #464f51;
  border: 1px solid #464f51;
    border-radius: 999px;
  font-size: 0.9rem;
    text-decoration: none;
  transition: transform 0.3s ease, box-shadow 0.3s ease, background 0.5s ease;
}
.btn-pad:hover {
  background: #DDE8E1;
  box-shadow: 0 5px 10px rgba(70, 80, 80, 1);
  transform: translateY(-5px);
}



  /* Content-Seiten */
  
.content {
  max-width: 1000px;
  margin: 2.5rem auto;
  padding: 0 1.5rem 3rem;
}
  
.card {
  background: radial-gradient(circle at top left, #dde8e1, #6b8f71);
  border-radius: 1.2rem;
  padding: 1.8rem;
  margin-bottom: 1.5rem;
  border: 1px solid #1f2937;
  box-shadow: 10px 15px 20px rgba(0, 0, 0, 0.5);
  color: #464f51;
}
  
.card h1,
.card h2,
.card h3 {
  margin-bottom: 0.7rem;
}
  
.card p {
  color: #464f51;
}
  
/* Grids */
  
.grid-2 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 1.5rem;
  margin-top: 0.5rem;
}
/*Download Button*/

.btndwn {
  display: flex;
  justify-content: center;
}

.btn-download {
  padding: 0.7rem 1.5rem;
  margin: 1rem;
  background: #6b8f71;
  color: #464f51;
  border: 1px solid #464f51;
  border-radius: 999px;
  font-size: 0.95rem;
  text-decoration: none;
  transition: transform 0.3s ease, box-shadow 0.3s ease, background 0.5s ease;
}

.btn-download:hover {
  background: #DDE8E1;
  box-shadow: 0 5px 10px rgba(70, 79, 81, 1);
  transform: translateY(-5px);
}



.grid-2 ul {
  list-style: none;
}
  
.grid-3 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 1.5rem;
  margin-top: 1rem;
}
  
/* Listen */
  
.card ul {
  margin-left: 1.2rem;
  margin-top: 0.4rem;
}
  
.card li {
  margin-bottom: 0.25rem;
}
  
/* Projektliste */
  
.project-list {
  list-style: none;
  margin-top: 0.7rem;
}
  
.project-list li {
  margin-bottom: 1.1rem;
}
  
.project-list h3 {
  margin-bottom: 0.2rem;
}
  
.project-link {
  text-decoration: none;
  color: #29524A;
  font-size: 0.9rem;
  background-color:rgba(0,0,0,0);
  border-radius:99px;
  padding:7px;
  border:1px solid #29524A;
}
  
.project-link:hover {
  background-color:#DDE8E1;
}
  





/* Footer */
  
footer {
  border-top: 1px solid #1f2937;
  padding: 1rem 0;
  text-align: center;
  font-size: 0.85rem;
  color: #464f51;
  background: #6b8f71;
}


/* Social Links*/
.social-links {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}

.social-links img {
  width: 24px;
  height: 24px;
  opacity: 0.8;
  transition: opacity 0.2s ease, transform 0.2s ease;
}

.social-links img:hover {
  opacity: 1;
  transform: scale(1.1);
}
/* Responsive Anpassungen */

/* Laptop */
@media (min-width: 769px) and (max-width: 1199px) {
  
  .pad-text {
    padding: 2rem 1.5rem;
  }

    .box {
      flex-direction: column;
      justify-content: center;
    }
}

/*Tablet*/
@media (min-width: 600px) and (max-width: 1023px) {
  
  .box {
    flex-direction: column;
    justify-content: center;
    width: 70%;
  }

  
  .pad-text {
    padding: 1rem 1.5rem;
  }
  .btn-pad {
    padding: 0.5rem 0.8rem;
    margin: 0.5rem;
  }

}

/* Handy*/
@media (min-width:320px) and (max-width: 600px) {


  .box {
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 0rem;
    width: 100%;
  }
  
    
  .btn-pad {
      padding: 0.5rem 0.8rem;
      margin: 0.5rem;
  } 
    
  
    
  .meinbild {
    justify-content: center;
    width: 100%;
  }
  
   .nav-links ul a {
      width: 80%;
      font-size: 1rem;
      padding: 1px;
      margin: 1px;
      display: flex;
 } 
  
  
  

  .logo {
    font-size: 1rem;
    margin-bottom: 1rem;
  }

  .navbar {
    width: 100%;
    margin: 0.5rem;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    flex-direction: column;
  }


  .card {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  

}
